
<!-- Appwrite Emdpoint -->

NEXT_PUBLIC_APPWRITE_ENDPOINT=

<!-- Appwrite project Id -->

NEXT_PUBLIC_APPWRITE_PROJECT_ID=
<!-- Appwrite storage Id -->
NEXT_PUBLIC_APPWRITE_STORAGE_ID=

<!-- Appwrite article collection Id -->

NEXT_PUBLIC_APPWRITE_COLLECTION_ID=

<!-- Appwrite project collection Id -->

NEXT_PUBLIC_APPWRITE_PROJECT_COLLECTION_ID=

<!-- Appwrite database Id -->

NEXT_PUBLIC_APPWRITE_DATABASE_ID=

<!-- wakatime api key -->

WAKATIME_API_KEY=

<!-- github token -->

GITHUB_READ_USER_TOKEN_PERSONAL=

<!-- Nodemailer user email -->

MAIL_USER=

<!-- Nodemailer user app password -->

MAIL_PASSWORD=

<!-- Base URL -->

NEXT_PUBLIC_BASE_URL =http://localhost:3000